.App {
  min-height: 100vh;
  width: 100vw;
  /* background-color: rgb(255, 235, 235); */
}
.App .navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.App .navbar .logo img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.App .navbar .navlinks {
  display: flex;
  gap: 10px;
}
.App .navbar .navlinks a {
  padding: 10px;
}
.App .navbar .navlinks a:hover {
  background-color: blueviolet;
  color: white;
}
